Flask==1.1.1
Flask-SQLAlchemy==2.4.0
Jinja2==2.10.1
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
Pillow==3.1.2
piston-mini-client==0.7.5
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
PyICU==1.9.2
PyJWT==1.3.0
PyMySQL==0.9.3
PyYAML==3.11
SQLAlchemy==1.3.8
Werkzeug==0.15.6

